*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.site-header{
    background-color: #212121;
    color: white;
    font-family: 'Jost', sans-serif;
    padding: 15px;
    align-items: center;

    display: flex;
    flex-direction: row;
}

.site-title{
    flex-grow: 15;
    padding-left: 10px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 18pt;
    color: white;
    text-decoration: none;
}

.graphic-design{
    flex-grow: 1;
    text-decoration: underline;
    cursor: pointer;
}
.graphic-design:hover {
    color: #ADD8E6;
}

.art{
    flex-grow: 1;
    cursor: pointer;
}
.art:hover {
    color: #ADD8E6;
}

.about{
    flex-grow: 1;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
.about:hover {
    color: #ADD8E6;
}

.project{
    cursor: pointer;
    transition: 1s ease;
}



.site-footer{
    background-color: #212121;
    color: white;
    font-family: 'Jost', sans-serif;
    text-align: center;
    padding: 15px;
    line-height: 30px;
}

.gd-footer{
    text-decoration: underline;
    cursor: pointer;
}
.gd-footer:hover {
    color: #ADD8E6;
}

.art-footer{
    cursor: pointer;
}
.art-footer:hover {
    color: #ADD8E6;
}

.about-footer{
    cursor: pointer;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
.about-footer:hover {
    color: #ADD8E6;
    
}

.insta{
    cursor: pointer;
}

.linkedin{
    cursor: pointer;
}